@import '../../../style/_variables.scss';

.searchBar {
  border: 1px solid $lighter-grey;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8.5px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 270px;
  & input {
    height: 100%;
    width: 100%;
    font-family: $font-family;
    font-weight: 400;
    font-size: $regular-text;
    border: none;
    &::placeholder {
      color: $dark-grey;
      font-family: $font-family;
    }
    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 950px) {
  /* Styles for smaller screens */
  .searchBar {
    width: 100%;
  }
}
