@import '../../../style/_variables.scss';

.button {
  padding: 12px;
  border-radius: 4px;
  border: none;
  color: $white;
  display: flex;
  gap: 8px;
  transition: ease-in-out 0.2s;

  &--disabled {
    background-color: $light-grey !important;
    color: $dark-grey;
    &:hover {
      transform: none !important;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:focus {
    outline: 1.75px solid $black;
  }

  &__text {
    font-family: $font-family;
    font-weight: 500;
    font-size: $regular-text;
  }

  &--primary {
    background-color: $blue;
  }

  &--secondary {
    background-color: $white;
    border: 1px solid rgba(72, 68, 105, 0.25);
    border-radius: 4px;
    color: $black;
  }

  &--danger {
    background-color: $red;
  }
}

.icon {
  path {
    fill: $white;
  }
}
