// Font Family
$font-family: 'Inter', sans-serif;

// Text Sizes
$title-text: 1.5rem;
$subtitle-text: 1.25rem;
$regular-text: 0.875rem;
$small-text: 0.75rem;

// Colors
$red: #D53948;
$black: #211F33;
$white: #FFF;
$grey: #6E6D7A;
$light-grey: #F4F4F5;
$lighter-grey: #D1D0D9;
$dark-grey: #88859E;
$blue: #337AB7;
$deep-blue: #002A42;